* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.css-14kveo2 {
    display: block;
}

.css-1ugn59q:hover {
    background: #319795 !important;
    border: 1px solid #319795 !important;
}